<div data-role="header" data-position="fixed" data-theme="b">
  <h1>Buildings</h1>
</div>

<div data-role="content">
  <ul data-role="listview" data-inset="true" data-theme="c">
    <% @halls.each do |hall| %>
      <li><a href="halls/<%= hall.id %>" data-ajax="false"><%= hall.name %></a></li>
    <% end %>
  </ul>
</div>

