<style text="css">
  .ui-li-thumb { height: 20px; top: 10px !important; }
</style>

<div data-role="header" data-position="fixed" data-theme="b">
  <a href="#" id="pinBuildings">Pin</a>
  <h1>Buildings</h1>
</div>

<div data-role="content">
  <ul data-role="listview" data-inset="true" data-theme="c">
    <li data-role="list-divider" data-theme="b" role="heading">
      Pinned Buildings
      <span class="ui-li-count">3</span>
    </li>
    <li><a href="halls/2" data-ajax="false"><img src="/assets/pin-in.jpg" class="ui-li-icon ui-li-thumb" style="display:none;" />Evans Hall</a></li>
    <li><a href="halls/4" data-ajax="false"><img src="/assets/pin-in.jpg" class="ui-li-icon ui-li-thumb" style="display:none;" />Cory Hall</a></li>
    <li><a href="halls/6" data-ajax="false"><img src="/assets/pin-in.jpg" class="ui-li-icon ui-li-thumb" style="display:none;" />Dwinelle Hall</a></li>
  </ul>
  <ul data-role="listview" data-inset="true" data-theme="c">
    <li data-role="list-divider" data-theme="b" role="heading">
      All Buildings
      <span class="ui-li-count">10</span>
    </li>
    <% @halls.each do |hall| %>
      <li>
        <a href="halls/<%= hall.id %>" data-ajax="false">
          <img src="/assets/pin.jpg" class="ui-li-icon ui-li-thumb" style="display:none;" />
          <%= hall.name %>
        </a>
      </li>
    <% end %>
  </ul>
</div>

<!-- Handle pin button click -->
<script type="text/javascript">
  var initialized = false;
  $(document).bind('pageinit', function () {
    // Necessary, because jQuery Mobile fires 'pageinit' twice
    if (!initialized) {
      $('#pinBuildings').bind('click', function (e) {
        // Apply a data-icon to each of the list items
        $('li img').toggle();
      });
      initialized = true;
    }
  });
</script>

