<style text="css">
  .ui-li-thumb { height: 16px; top: 12px !important; }
</style>

<div data-role="header" data-position="fixed" data-theme="b">
  <a href="#" id="pinBuildings">Pin</a>
  <h1>Buildings</h1>
</div>

<div data-role="content">
  <ul data-role="listview" data-inset="true" data-theme="c" id="buildingList" data-filter="true">
    <li data-role="list-divider" data-theme="b" role="heading">
      Buildings
      <span class="ui-li-count">4</span>
    </li>
    <li>
      <a href="halls/2" data-ajax="false"><img src="/assets/pin.png" class="ui-li-icon ui-li-thumb" style="display:none;" />Evans Hall</a>
    </li>
    <li>
      <a href="halls/4" data-ajax="false"><img src="/assets/pin.png" class="ui-li-icon ui-li-thumb" style="display:none;" />Cory Hall</a>
    </li>
    <li>
      <a href="halls/6" data-ajax="false"><img src="/assets/pin.png" class="ui-li-icon ui-li-thumb" style="display:none;" />Dwinelle Hall</a>
    </li>
    <li>
      <a href="halls/8" data-ajax="false"><img src="/assets/pin.png" class="ui-li-icon ui-li-thumb" style="display:none;" />Soda Hall</a>
    </li>
  </ul>
  
</div>

<script type="text/javascript">
  var initialized = false,
      pinning = false;
      
  // Insert element el at an arbitrary index in container
  function insertAt(container, index, el) {
    // index + 1, to account for the header item
    $(container).children(':nth-child(' + (index + 1) + ')').after(el);
  }
  
  function togglePinned(el) {
    var img = $(el).find('img');
    if (el.hasClass('li-pinned')) {
      img.attr('src', '/assets/pin.png');
      $(el).removeClass('li-pinned');
    }
    else {
      img.attr('src', '/assets/pin-in.png');
      $(el).addClass('li-pinned');
      img.show();
    }
  }
  
  $(document).bind('pageinit', function () {
    // Necessary, because jQuery Mobile calls 'pageinit' twice
    if (!initialized) {
      var pinnedItems = JSON.parse(localStorage.getItem('pinned') || "[]"),
          container = $('#buildingList');
      // Iterate over the pinned items, and move the elements into their correct locations
      for (var i = 0; i < pinnedItems.length; i++) {
        var pinned = container.find('li:contains("' + pinnedItems[i] + '")');
        togglePinned(pinned);
        insertAt(container, i, pinned);
      }
      
      $('#pinBuildings').bind('click', function (event) {
        
        // Show the pin icon
        $('#buildingList li:not(.li-pinned) img').toggle();
        pinning = !pinning;
        
      });
      
      $('#buildingList a').bind('click', function (event) {
        if (pinning) {
          var text = $(this).text(),
              li = $(this).closest('li');
          event.preventDefault();
          
          // Move the element to the top of the list
          // Iterate through the list of pinned items
          for (var i = 0; i < pinnedItems.length; i++) {
            if (pinnedItems[i] > text) {
              break;
            }
          }
          pinnedItems.splice(i, 0, text);
          // Place the item at index i
          insertAt($('#buildingList'), i, li);
          
          // Change the image icon to the pinned one
          togglePinned(li);
          
          return false;
        }
        else {
          // User is just navigating
          return true;
        }
      });
      
      window.onbeforeunload = function () {
        localStorage.setItem('pinned', JSON.stringify(pinnedItems));
      };
      
      initialized = true;
    }
    
  });
  
</script>


<!-- Handle pin button click -->
<script type="text/javascript">
  /*
  var initialized = false,
      pinning = false;
  $(document).bind('pageinit', function () {
    // Necessary, because jQuery Mobile fires 'pageinit' twice
    if (!initialized) {
      $('#pinBuildings').bind('click', function (e) {
        // Apply a data-icon to each of the list items
        $('#buildingList img').toggle();
        pinned = !pinned;
      });
      
      $('.ui-listview .ui-li a').bind('click', function (e) {
        if (pinning) {
          e.preventDefault();
          var pinnedList = $('#pinnedList'),
              counter = $('#pinnedList .ui-li-count'),
              newItem = $(this).closest('li').clone();
          // Add this list item to the pinned section
          // If there are no pinned items, we will need to show the section
          if (!pinnedList.is(':visible')) {
            pinnedList.show();
          }
          // Change the pin image of the new item
          newItem.find('img').attr('src', '/assets/pin-in.png');
          
          pinnedList.append(newItem);
          // Increment the list counter
          counter.text((parseInt(counter.text()) || 0) + 1);
          
          return false;
        }
        else {
          // User is just navigating
          return true;
        }
      });
      
      initialized = true;
    }
  });
  */
</script>

