<style text="css">
  .ui-li-thumb { height: 16px; top: 12px !important; }
</style>

<div data-role="header" data-position="fixed" data-theme="b">
  <a href="#" data-role="button" data-rel="back" data-theme="a">Back</a>
  <h1>Buildings</h1>
  <a href="/overlay/pinOverlay.html" id="pinBuildings" class="ui-btn-right" data-rel="dialog" data-transition="pop">&nbsp;Pin&nbsp;</a>
</div>

<div data-role="content">
  <ul data-role="listview" data-inset="true" data-theme="c" id="buildingList" data-filter="true" data-filter-placeholder="Search for buildings...">
    <li data-role="list-divider" data-theme="b" role="heading">
      Buildings
      <span class="ui-li-count"><%=@halls.length%></span>
    </li>
    
    <% @halls.each do |hall| %>
      <li>
        <a href="halls/<%=hall.id%>" data-ajax="false"><img src="/assets/pin.png" class="ui-li-icon ui-li-thumb" style="display:none;" />
          <span class="hall-name"><%=hall.name%></span>
        </a>
      </li>
    <% end %>
  </ul>
  
</div>

<script type="text/javascript">
  var initialized = false,
      pinning = false;
      
  // Insert element el at an arbitrary index in container
  function insertAt(container, index, el) {
    // index + 1, to account for the header item
    $(container).children(':nth-child(' + (index + 1) + ')').after(el);
  }
  
  function togglePinned(el) {
    var img = $(el).find('img');
    if (el.hasClass('li-pinned')) {
      // Unpinning
      img.hide();
      $(el).removeClass('li-pinned');
    }
    else {
      // Pinning
      img.attr('src', '/assets/pin.png');
      $(el).addClass('li-pinned');
      img.show();
    }
  }
  
  $(document).bind('pageinit', function () {
    // Necessary, because jQuery Mobile calls 'pageinit' twice
    if (!initialized) {
      var pinnedItems = JSON.parse(localStorage.getItem('pinned') || "[]"),
          container = $('#buildingList');
      // Iterate over the pinned items, and move the elements into their correct locations
      for (var i = 0; i < pinnedItems.length; i++) {
        var pinned = container.find('li:contains("' + pinnedItems[i] + '")');
        togglePinned(pinned);
        insertAt(container, i, pinned);
      }
      
      $('#pinBuildings').bind('click', function (event) {
        
        // Toggle the arrow navigation buttons
        $('#buildingList li .ui-icon-arrow-r').toggle();
        pinning = !pinning;
        // Toggle the pin button text between pin and end
        $('#pinBuildings .ui-btn-text').text(pinning ? 'End' : 'Pin');
        
        if (!pinning || localStorage.getItem('hidePinPopup')) {
          // This will prevent the dialog from popping up
          return false;
        }
      });
      
      $('#buildingList a').bind('click', function (event) {
        if (pinning) {
          var text = $(this).text().trim(),
              li = $(this).closest('li');
          event.preventDefault();
          
	  if (li.hasClass('li-pinned')) {
	    // The user is unpinning a pinned building
	    var unpinned = $('#buildingList li:not(.li-pinned) a');
	    if (unpinned.length == 0) {
	      // Every hall is pinned, so just add to the end
	      $('#buildingList').append(li);
	    }
	    else {
	      for (var i = 0; i < unpinned.length; i++) {
		      if ($(unpinned[i]).text().trim() > text) {
		        // Insert ourselves here
		        $(unpinned[i]).closest('li').after(li);
		      }
	      }
	    }

	    // Remove the element from the list of pinned items
	    for (var i = 0; i < pinnedItems.length; i++) {
	      if (pinnedItems[i] == text) {
      		pinnedItems.splice(i, 1);
	      }
	    }
	  }
	  else {
	    // Move the element to the top of the list
	    // Iterate through the list of pinned items
	    for (var i = 0; i < pinnedItems.length; i++) {
	      if (pinnedItems[i] > text) {
      		break;
	      }
	    }
	    pinnedItems.splice(i, 0, text);
	    // Place the item at index i
	    insertAt($('#buildingList'), i, li);
          }
          // Change the image icon to the pinned one
          togglePinned(li);
          console.log(pinnedItems);
          return false;
        }
        else {
          // User is just navigating
          return true;
        }
      });
      
      window.onbeforeunload = function () {
        localStorage.setItem('pinned', JSON.stringify(pinnedItems));
      };
      
      initialized = true;
    }
    
  });
  
</script>


