<% if flash[:notice] %>
  <div class="alert alert-success">
    <a class="close" data-dismiss="alert">×</a>
    <h4 class="alert-heading"><%=flash[:notice]%></h4>
  </div>
<% end %>

<% if flash[:error] %>
  <div class="alert alert-error">
    <a class="close" data-dismiss="alert">×</a>
    <h4 class="alert-heading"><%=flash[:error]%></h4>
  </div>
<% end %>

<a href="/admin/categories/new">
  <button class="btn">
    New Category
  </button>
</a>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th># of Tips in this Category</th>
    </tr>
  </thead>
  <tbody>
  <% @categories.each do |category| %>
  <tr>
    <td><%= link_to category.name, admin_category_path(category)%></td>
    <td>1000 -- Change Me</td>
  </tr>
  <% end %>
</table>

<a href="/admin/category/new">
  <button class="btn">
    New Category
  </button>
</a>
