<form action="<%= admin_tip_path(@tip) %>" method="post">
  <input name="_method" type="hidden" value="put" />
  <label>Title</label>
  <input type="text" value="<%=@tip.title%>">
  <!--label>Categories</label-->
  <label>Content</label>
  <textarea name="content" style="width:100%"><%= @tip.content %></textarea>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
