<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Content</th>
    </tr>
  </thead>
  <tbody>
  <% @tips.each do |tip| %>
  <tr>
    <td><%= link_to tip.title, admin_tip_path(tip)%></td>
    <td>
      <% tip.categories.each do |category|%>
         <p> 
	   <%= category %> 
	 </p>
      <% end %>
    </td>
    <td><%=tip.content%></td>
  </tr>
  <% end %>
</table>    
