<div data-role="header" data-position="fixed" data-theme="b">
  <h1>Green Energy Tips</h1>
</div>

<div data-role="content">

  <% @categories.each do |category, tips| %>
    <div data-role="collapsible" data-theme="b" data-content-theme="c">
      <h3 class="Category_<%= category %>"><%=category%></h3>
      <ul data-role="listview" data-theme="c" data-inset="true">
	  <% @subcats = tips.group_by(&:title) %>
  
	  <% @subcats.each do |subcat, tips| %>
	    <li>
			<h3><%=subcat%></h3>	
			<% tips.each do |tip| %>
				<p><%=tip.content%></p>
			<% end %>
		</li>
	  <% end %>
      </ul>
    </div>
  <% end %>

</div>

<script type="text/javascript">
  $(document).bind('pageinit', function () {
    var initialized = false;
    if (!initialized) {
      $('div.ui-collapsible').bind('click', function () {
        $(this).attr('value', $(this).hasClass('ui-collapsible-collapsed') ? 'closed' : 'open');
      });
      initialized = true;
    }
  });
</script>

