<div data-role="header" data-position="fixed" data-theme="b">
  <h1>Green Energy Tips</h1>
</div>

<div data-role="content">
  <% @categories.each do |category, tips| %>
    <div data-role="collapsible" data-theme="b" data-content-theme="c">
      <h3><%=category%></h3>
      <ul data-role="listview" data-theme="c" data-inset="true">
        <% tips.each do |tip| %>
          <li>
            <h3><%=tip.title%></h3>
            <p><%=tip.content%></p>
        </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
</div>
