<!DOCTYPE html>
<html>
<head>
  <title>UC Berkeley Energy Management</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
</head>
<body>

<%= yield %>

</body>
</html>
