<!DOCTYPE html>
<html>
<head>
  <title>UC Berkeley Energy Management</title>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
  <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
  <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0, maximum-scale=1.0" />
</head>
<body>

<%= yield %>

</body>
</html>
